.featured-products{
    margin: 65px;
}

.featured-products>h2{
    font-size: 48px;
    margin-bottom: 65px;
    text-align: center;
}

.featured-products-list{
    justify-content: space-evenly;
    margin-bottom: 65px;
    display: flex;
    flex-wrap: wrap;
}